* {
    margin: 0;
    padding: 0;
}

body {
    background: #1C1C1C;
    font-family: Arial, helvetica, sans-serif;
}

#container {
    margin: 0 auto;
    max-width: 1200px;
}

header {
    height: 200px;
}

#logo {
    float: left;
    padding-top: 20px;
}

header h1 {   
    float: left;
    line-height: 200px;
    color: rgb(155, 218, 60);
}


/* Navegção cabeçalho */
header nav ul{
  float: right;
  line-height: 200px;
}

header nav li {
    float: left;
}

header  nav li a {
    padding: 0 20px;
    border-radius: 50px;
    color: rgb(155, 218, 60);
}

header nav li a:hover{
    padding: 10px 20px;
    border-radius: 20px;
    background: rgb(236, 78, 78);
    transition: .3s;
}

#conteudo {
    clear: both;
    
}

#conteudo a {
    display: block;
    color: rgb(155, 218, 60);
    margin: 10px auto;
}

#opcoes {
    color: rgb(155, 218, 60);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* ANIMAÇÃO */

.card {
    padding: 20px;
    width: 350px;
    box-shadow: 0 0 10px 0 white;
    position: relative;
    border-radius: 15px;
}

.card::after,
.card::before {
    border-radius: 15px;
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transition: transform .3s ease-in-out;
}

.card::before {
    border-left: 2px solid  rgb(236, 78, 78);
    border-right: 2px solid  rgb(236, 78, 78);
    transform: scaleY(0);
}

.card::after {
    border-top: 2px solid  rgb(236, 78, 78);
    border-bottom: 2px solid  rgb(236, 78, 78);
    transform: scaleX(0);
}

.card:hover:before {
    transform: scaleY(1);
    box-shadow: 0 0px 20px 0 rgb(236, 78, 78);
}

.card:hover:after {
    transform: scaleX(1);
}


.text {
    margin: 20px auto;
}


